<% if @user.errors.any? %>
  <div class="alert alert-danger"> 
    <h2>您输入的信息不符合要求</h2>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<%end%>
