<% provide(:title, "管理APP") %>
<% if can?(:create, App)%>
  <%= link_to '创建APP', new_app_path, type:"button", class:"btn btn-info",style:"float:right" %>
<% end %>
<h1>APP list</h1>
<hr/>
<% @apps.each do |app| %>
  <div class="applist">
    <%= image_tag(app.icon) %>       </br>
    <%= link_to app.name, app %>
  </div>
  </hr>
<% end %>

<div class="more">
<%= will_paginate @apps %>  
</div>
