<div class="col-md-9">
  <div class="jumbotron">
    <h2>最新app</h2>
    <% @apps.each do |app| %>
      <h3><%= image_tag(app.icon) %> <%= link_to app.name, app %></h3>
    </hr>
    <% end %>
  </div>
</div>
<div class="col-md-3">
  <%= render "layouts/tags_cloud" %>
</div>


