<div class="jumbotron">
  <h1>欢迎来到 yyAPP!</h1>
  <p>还没有帐号?注册一个</p>
  <p><%= link_to "登录", new_user_session_path,class:"btn btn-primary btn-lg", role:"button" %>
    <%= link_to "注册", new_user_registration_path,class:"btn btn-primary btn-lg", role:"button" %></p>
</div>
