// Place all the styles related to the apps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ptag a
{
    
    color: white;
    font-weight: bold;
    font-size: 12px;
    padding: 1px 4px;
    background-color: #2C90CB;
    margin: 4px 4px 4px 0;
    display: inline-block;
    line-height: 16px;
    vertical-align: middle;
    &:hover {
        color: #A5C7F2;
    }
    float:left;

}
#tag_cloud {    
  width: 250px;
  line-height: 1.6em;
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
}

.applist
{
  float:left;
  width:150px;
  height:150px;
  text-align:center;
}

.more
{
  position: relative;
  left:250px;
  top:120px;
}


#likeable,#hateable{
background-color: #eeeeee;
background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, white), color-stop(100%, gainsboro));
background: -webkit-linear-gradient(top, white, gainsboro);
background: -moz-linear-gradient(top, white, gainsboro);
background: -o-linear-gradient(top, white, gainsboro);
background: linear-gradient(top, white, gainsboro);
border: 1px solid #d4d4d4;
padding: 0px 10px;
text-shadow: 0 1px 1px white;
margin: 0;
text-decoration: none;
text-align: center;
color: #888;
border-radius:5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
float:left;
margin-right: 15px;
height: 25px;
line-height: 25px;
display:block;
&:hover{
    cursor:pointer;
}
span{
    font-size: 12px;
    margin-left:6px;
}

}

#is-like,#is-hate,#app-id{
    display:none;
}


.break-float{
clear:both;}

#addtag{
margin: 0 15px; 
float:left;


&:hover{
    cursor:pointer;
}
}