// Place all the styles related to the apps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ptag a
{
    
    color: white;
    font-weight: bold;
    font-size: 12px;
    padding: 1px 4px;
    background-color: #2C90CB;
    margin: 4px 4px 4px 0;
    display: inline-block;
    line-height: 16px;
    vertical-align: middle;
    &:hover {
        color: #A5C7F2;
    }

}
#tag_cloud {
    
  width: 250px;
  line-height: 1.6em;
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
}