<p>您好 <%= @resource.email %>!</p>

<p>点击下面的链接修改账户密码:</p>
<p><%= link_to '修改密码', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>如果你没有做出修改密码的请求,请忽视这封邮件.</p>
<p>如果您没有点击上面的链接并修改密码,您的密码将不会改变.</p>

<a href="http://www.yankeji.cn">盐科技</a>
