<p>您好 <%= @resource.email %>!</p>

<p>您的帐号由于多次非正常登录而被锁定,</p>
<p>点击下面的链接解锁:</p>

<p><%= link_to '解锁', unlock_url(@resource, :unlock_token => @resource.unlock_token) %></p>

<a href="http://www.yankeji.cn">盐科技</a>
